// Navbar
$navbar-dark-color:                 #ffffff !default;
$navbar-dark-hover-color:           #ffffff !default;
$navbar-dark-active-color:          #ffffff !default;
$navbar-light-color:                #ffffff !default;
$navbar-light-hover-color:          #ffffff !default;
$navbar-light-active-color:         #ffffff !default;